@font-face{
    font-family: 'SourceSansPro-Regular';
    src: url(../fonts/SourceSansPro-Regular.ttf);
    src: url(../fonts/SourceSansPro-Regular.eot) format(eot),
         url(.../fonts/SourceSansPro-Regular.svg) format(svg);
}
@font-face{
    font-family: 'SourceSansPro-ExtraLight';
    src: url(../fonts/SourceSansPro-ExtraLight.ttf);
    src: url(../fonts/SourceSansPro-ExtraLight.eot) format(eot),
         url(../fonts/SourceSansPro-ExtraLight.svg) format(svg);
}
@font-face{
    font-family: 'SourceSansPro-Bold';
    src: url(../fonts/SourceSansPro-Bold.ttf);
    src: url(../fonts/SourceSansPro-Bold.eot) format(eot),
         url(../fonts/SourceSansPro-Bold.svg) format(svg);
}
*{
	margin: 0;
	padding: 0;
	font-family: SourceSansPro-Regular, "Source Sans Pro", Helvetica;
}

body{
	background: url(../img/bg-body.png);
	font-family: SourceSansPro-Regular, "Source Sans Pro", Helvetica;
}


header{
    max-width: 100%;
    text-align: center;
    background: #00eba6 url(../img/colors-bar.png);
   	background-position: bottom;
    background-repeat: repeat-x;
}

header .bt-menu{
	text-align: left;
}

header nav{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	background: #00eba6 url(../img/colors-bar.png);
   	background-position: bottom;
    background-repeat: repeat-x;
}

.menu_bar span{
	display: none;
}


a{
	text-decoration: none;
	color: #1b201f;
	font-weight: bold;
}

header nav ul{
	overflow: hidden;
	list-style: none;
}

header nav ul li {
	float: center;
	display: inline-block;
}

header nav ul li a{
	color:  #0f5b4c;
	padding: 20px;
	display: block;
	text-decoration: none;
	font-weight: normal;
}

header nav ul li span {
	margin-right:  10px;
}

header nav ul li a:hover {
	background: #00de96;
	height: .8em;
}

section#centrar{
  margin: 0em auto;
  padding: 0;
  text-align: center;
  border-radius: 0.5em;
}

section#contenido,  aside{
 /* background-color: #FBF210;*/
  border-radius: .5em;
  display: inline-block;
  margin: 0.25em auto;
  padding: 0.25em;
  text-align: center;
  vertical-align: top;
  width: 75%;
}

aside{
  width: 20%;
  background: #FAFAFA;
}

aside div#reportar{
	background: #00eba6;
	border-radius: 5em;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(179,179,179,1);
	-moz-box-shadow: 0px 1px 3px 1px rgba(179,179,179,1);
	box-shadow: 0px 1px 3px 1px rgba(179,179,179,1);
	opacity: 1;
    filter:  alpha(opacity=10);
        -ms-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -wekit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

#reportar:hover{
	background: #04B4AE;
	opacity: 0.9;
    filter:  alpha(opacity=7);
        -ms-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out
        -wekit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

aside div#logosp{
	background: #0e0d0c;
	border-radius: .5em;

}

aside div#logosp img{
	width: 95%;
	border-radius: 1.5em;
}

div.noticia {
	width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: .3em;
    padding: 1em;
    background: #FFF;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #BDC2C9;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(179,179,179,1);
	-moz-box-shadow: 0px 1px 5px 1px rgba(179,179,179,1);
	box-shadow: 0px 1px 5px 1px rgba(179,179,179,1);
}

section a{
	font-weight: normal;
}



.noticia h1{
	text-align: center;
	font-size: 2em;
}

div.noticia img.notimg{
    width: 80%;
    border-radius: 5px;
    border: 2px solid #BDC2C9;
}

.noticia p{
	text-align: left;
	padding: 0 1em 0 1em;
}

section#contenido .noticia:hover{
		background: #FBFBFA;
}

footer{
	margin-top: 5em;
	padding: .8em;
	color:#CCC; 
	background: #333; 
	text-align: center;
}

footer div.visitas{
	display: inline-block;
	bac
}
.fade{
    opacity: 1;
    filter:  alpha(opacity=10);
        -ms-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -wekit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}

.fade:hover{
    opacity: 0.7;
    filter:  alpha(opacity=7);
        -ms-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out
        -wekit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/*--------------------------------FORMULARIO REGISTRO-----------------------*/
	section#contenido-form{
		text-align: center;
	}
	
	section#contenido-form section#formulario{
	width: 50%;
	margin: 0 auto;
	display: block;
	color: #1b201f;
	}

	section#formulario{ 
		/*background: #c3c3c3;*/
		margin: 5px;
		width: 50%;
		height: auto;
		font-size: 20px;
	}

	section#formulario a label{
		font-size: 13px;
		text-align: center;
	}

	section#formulario img{
		margin: 0 auto;
	}

	label{
		text-align: left;
	}

	input, textarea{
		width: 95%;
		height: 20px;
		padding: 7px;
   		-webkit-border-radius: 5px;
   		-moz-border-radius: 5px;
   		border-radius: 5px;
  		border: 2px solid #BDC2C9;
	}

	.btn{
		margin: 5px;
		float: right;
		width: 10em;
		height: 3.5em;
		background: #FFBF00;
		font-weight: bold;
	}

	.btn1 {
		margin: 5px;
		float: right;
		width: 10em;
		height: 3.5em;
		background: #FFBF00;
		font-weight: bold;	
	}

	section#formulario label, input, textarea{
		display: block;
	}

	textarea { height: 110px; }

/*--------------------CONTENIDO DEL DIRECTORIO --------------*/

section#directorio{
	margin: 3em 3em -2em 3em;
	display: block;
	padding-bottom: 7em;	
	border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
    background-color: white;
}

section#directorio img.logo{
	float: left;
	width: 10%;
}
section#directorio img.map{
	float: right;
	width: 50%;
}
section#directorio h1{
	font-size: 2.8em;
	color: #424242;
}
section#directorio p.direc{
	text-align: left;
	padding-left: 10em;
	margin: 0; 
	color: #585858;
}

/*-------------------------------- RESPONSIVE DESIGN-----------------------*/

@media screen and (max-width: 800px){
	header{
		width: 100%;
		position: fixed;
	}
	
	header nav{
		width: 30%;
		height: 100%;
		left: -100%;
		margin: 0;
		position: fixed;
	}

	header nav ul li{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255,.3);
		text-align: left;
	}
	header nav ul li a:hover {
		background: #00de96;
		height: auto;
	}
	.colores{
		height: 8px;
		background: #00eba6 url(../img/colors-bar.png);
   	 	background-position: bottom;
    	background-repeat: repeat-x;
	}

	.menu_bar{
		display: block;
		width: 100%;
	}

	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		background: #00eba6;
		color: #FFF;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span{
		display: block;
	}

	.menu_bar span{
		float: right;
		font-size: 40px;

	}

	section#contenido, section#contenido-form{
		margin: 0 auto;
		padding-top: 7em;
	}
	section#contenido-form{
		text-align: center;
	}


	section#contenido-form section#formulario{ 
		width: 80%;
		font-size: 20px;
	}

	section#formulario a label{
		font-size: 13px;
		text-align: center;
	}

	section#formulario img{
		margin: 0 auto;
	}

	label{
		text-align: left;
	}

	input, textarea{
		width: 95%;
		height: 20px;
		padding: 7px;
   		-webkit-border-radius: 5px;
   		-moz-border-radius: 5px;
   		border-radius: 5px;
  		border: 2px solid #BDC2C9;
	}

	textarea{
		height: 8em;
	}
	.btn{
		margin: 5px;
		float: right;
		width: 10em;
		height: 3.5em;
		background: #FFBF00;
		font-weight: bold;
	}

	section#formulario label, input, textarea{
		display: block;
	}

	section#centrar{
		width: 100%;
	}

	section#contenido{
		width: 95%;
	}

	div.noticia{
		width: 90%;
	}

	div.noticia img.notimg{
		width: 70%;
	}

	aside{
  		width: 85%;
	}

}

@media screen and (max-width: 400px){
	header nav{
		width: 200px;
	}

	div.noticia img.notimg{
		width: 100%;
	}
	section#contenido, aside{
		width: 95%;
	}
}
@media screen and (max-width: 335px){
		
	header nav{
		width: 150px;
	}	

	header div a img{
		width: 170px;
	}

	section .noticia h1{
		font-size: 1.5em;	
	}

	section .noticia p{
		font-size: .8em;	
	}

	section#contenido .noticia{
		width: 235px;
		margin-bottom: 15px;	
	}

	section#contenido, aside{
		width: 300px;
	}



}
/*-------------------------------- FIN RESPONSIVE DESIGN-----------------------*/